In [1]:
import pandas as pd

In [2]:
# The function below is useful when I disply dataframes.
# We can display multiple dataframes side by side.

from IPython.display import HTML

def side_by_side(*dfs):
    html = '<div style="display:flex">'
    for df in dfs:
        html += '<div style="margin-right: 2em">'
        html += df.to_html()
        html += '</div>'
    html += '</div>'
    display(HTML(html))

In [3]:
def get_comp(agents: str) -> (str, int):
    """ 
    input: string of five agents that order of agents are sorted aphabetically and seperated by ","
    return: ("dics", int) "dics" where d: the # of duelist(s)
                                i: the # of initiator(s)
                                c: the # of controller(s)
                                s: the # of sentinel(s)
            int means the number of invalid agents in input list
    """
    roles = {"duelist": {"jett", "phoenix", "reyna", "raze", "yoru", "neon", "iso"},
             "initiator": {"sova", "breach", "skye", "kayo", "fade", "gekko"},
             "controller": {"brimstone", "omen", "viper", "astra", "harbor"},
             "sentinel": {"cypher", "sage", "killjoy", "chamber", "deadlock"}}
    
    agentlist = agents.split(",")
    dul = 0
    ini = 0
    con = 0
    sen = 0
    non = 0
    composition = ""
    for agent in agentlist:
        if agent in roles["duelist"]:
            dul += 1
        elif agent in roles["initiator"]:
            ini += 1
        elif agent in roles["controller"]:
            con += 1
        elif agent in roles["sentinel"]:
            sen += 1
        else:
            non +=1

    # assert (dul + ini + con + sen) == 5, f"{dul + ini + con + sen}"   I checked with this line, there are not valid composition in our data.

    composition = str(dul) + str(ini) + str(con) + str(sen)

    return composition, non

In [4]:
### List of tournaments I want to include in my data set.
# Stage 1
stage1 = ["Champions Tour Stage 1: EMEA Challengers",
"Champions Tour North America Stage 1: Challengers",
"Champions Tour Latin America Stage 1: Playoffs",
"Champions Tour LATAM/BR Stage 1: Last Chance Qualifier",
"Champions Tour Asia-Pacific Stage 1: Challengers Playoffs",
"Champions Tour Korea Stage 1: Challengers",
"Champions Tour Japan Stage 1: Challengers Playoffs",
"Valorant Champions Tour Stage 1: Masters Reykjavík"]

# Stage 2
stage2 = ["Champions Tour EMEA Stage 2: Challengers",
"Champions Tour North America Stage 2: Challengers",
"Champions Tour LATAM/BR Stage 2: Last Chance Qualifier",
"Champions Tour Brazil Stage 2: Challengers",
"Champions Tour Asia-Pacific Stage 2: Challengers Playoffs",
"Champions Tour Korea Stage 2: Challengers",
"Champions Tour Japan Stage 2: Challengers Playoffs",
"Valorant Champions Tour Stage 2: Masters Copenhagen"]

# Champions
champions = ["Champions Tour EMEA: Last Chance Qualifier",
"Champions Tour North America: Last Chance Qualifier",
"Champions Tour South America: Last Chance Qualifier",
"Champions Tour Asia-Pacific: Last Chance Qualifier",
"Champions Tour East Asia: Last Chance Qualifier",
"Valorant Champions 2022"]

vct_2022_stages = {"stage 1": stage1, "stage 2": stage2, "champions": champions}

In [5]:
maps_scores = pd.read_csv("../data/vct_2022/matches/maps_scores.csv")

maps_scores.head(10)

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team A Attacker Score,Team A Defender Score,Team A Overtime Score,Team B,Team B Score,Team B Attacker Score,Team B Defender Score,Team B Overtime Score,Duration
0,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,Paper Rex,13,6,7,NaN,EDward Gaming,11,5,6,NaN,1:16:34
1,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Icebox,Paper Rex,5,2,3,NaN,EDward Gaming,13,3,10,NaN,40:51
2,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Haven,Paper Rex,13,7,6,NaN,EDward Gaming,8,3,5,NaN,NaN
3,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Haven,Leviatán,13,8,5,NaN,Team Liquid,10,6,4,NaN,1:04:37
4,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Ascent,Leviatán,13,6,7,NaN,Team Liquid,10,4,6,NaN,1:05:07
5,Valorant Champions 2022,Group Stage,Opening (B),ZETA DIVISION vs LOUD,Ascent,ZETA DIVISION,8,7,1,NaN,LOUD,13,8,5,NaN,1:05:35
6,Valorant Champions 2022,Group Stage,Opening (B),ZETA DIVISION vs LOUD,Fracture,ZETA DIVISION,9,7,2,NaN,LOUD,13,8,5,NaN,51:21
7,Valorant Champions 2022,Group Stage,Opening (B),OpTic Gaming vs BOOM Esports,Breeze,OpTic Gaming,16,4,8,4.0,BOOM Esports,18,4,8,6.0,1:46:49
8,Valorant Champions 2022,Group Stage,Opening (B),OpTic Gaming vs BOOM Esports,Bind,OpTic Gaming,13,10,3,NaN,BOOM Esports,5,3,2,NaN,38:28
9,Valorant Champions 2022,Group Stage,Opening (B),OpTic Gaming vs BOOM Esports,Fracture,OpTic Gaming,13,9,4,NaN,BOOM Esports,3,0,3,NaN,NaN

In [6]:
overview = pd.read_csv("../data/vct_2022/matches/overview.csv")
overview["Agents"] = overview["Agents"].apply(lambda x: str(x).replace(" ",""))

overview.head(10)

,Tournament,Stage,Match Type,Match Name,Map,Player,Team,Agents,Rating,Average Combat Score,...,Deaths,Assists,Kills - Deaths (KD),"Kill, Assist, Trade, Survive %",Average Damage per Round,Headshot %,First Kills,First Deaths,Kills - Deaths (FKD),Side
0,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,Benkai,Paper Rex,fade,1.31,242.0,...,16.0,13.0,6.0,88%,156.0,34%,1.0,0.0,1.0,both
1,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,Benkai,Paper Rex,fade,1.18,243.0,...,9.0,5.0,2.0,75%,167.0,32%,0.0,0.0,0.0,attack
2,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,Benkai,Paper Rex,fade,1.45,242.0,...,7.0,8.0,4.0,100%,146.0,35%,1.0,0.0,1.0,defend
3,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,d4v41,Paper Rex,sage,1.15,219.0,...,16.0,7.0,4.0,88%,140.0,33%,0.0,4.0,-4.0,both
4,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,d4v41,Paper Rex,sage,1.04,222.0,...,9.0,4.0,1.0,100%,147.0,29%,0.0,2.0,-2.0,attack
5,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,d4v41,Paper Rex,sage,1.27,216.0,...,7.0,3.0,3.0,75%,134.0,38%,0.0,2.0,-2.0,defend
6,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,mindfreak,Paper Rex,astra,1.03,200.0,...,16.0,7.0,0.0,83%,134.0,30%,2.0,2.0,0.0,both
7,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,mindfreak,Paper Rex,astra,0.94,202.0,...,9.0,5.0,-1.0,83%,146.0,37%,1.0,0.0,1.0,attack
8,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,mindfreak,Paper Rex,astra,1.11,200.0,...,7.0,2.0,1.0,83%,122.0,24%,1.0,2.0,-1.0,defend
9,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,f0rsakeN,Paper Rex,chamber,1.01,227.0,...,19.0,5.0,1.0,75%,159.0,29%,3.0,5.0,-2.0,both

In [7]:
# We don't need all rows from "overview" and the following are index.
ind1 = (overview.Map != "All Maps")    
ind2 = (overview.Side == "both")
ind = (ind1 & ind2)

In [8]:
keystolook = ["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team", "Agents"]
#  I found that some matches do have "Agents" value null.  We need to get rid of this.
print(overview[ind][keystolook].isna().sum())

Tournament    0
Stage         0
Match Type    0
Match Name    0
Map           0
Team          0
Agents        0
dtype: int64

In [14]:
#  It's not right that the number of missing Agents is 143 which is not divisible by 5.
#  I will fill null value with "000" for later.
#  Let's first convert our dataframe and see that new "Agents" has wrong values.  (Correct ones are lists of five character names.)
def join_strings(lst):
    return ','.join(str(x) for x in lst)

vct_2022_team_comp = overview[ind][keystolook]

vct_2022_team_comp = overview[ind][keystolook].groupby(["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team"], as_index=False).agg(lambda x: ",".join(sorted(list((x)))))

vct_2022_team_comp

,Tournament,Stage,Match Type,Match Name,Map,Team,Agents
0,Champions Tour Asia-Pacific Stage 1: Challenge...,Group Stage,Decider (A),Made in Thailand vs CERBERUS Esports,Ascent,CERBERUS Esports,"breach,chamber,jett,omen,sova"
1,Champions Tour Asia-Pacific Stage 1: Challenge...,Group Stage,Decider (A),Made in Thailand vs CERBERUS Esports,Ascent,Made in Thailand,"astra,jett,kayo,killjoy,sova"
2,Champions Tour Asia-Pacific Stage 1: Challenge...,Group Stage,Decider (A),Made in Thailand vs CERBERUS Esports,Bind,CERBERUS Esports,"astra,breach,chamber,jett,sova"
3,Champions Tour Asia-Pacific Stage 1: Challenge...,Group Stage,Decider (A),Made in Thailand vs CERBERUS Esports,Bind,Made in Thailand,"brimstone,raze,sage,skye,viper"
4,Champions Tour Asia-Pacific Stage 1: Challenge...,Group Stage,Decider (B),Persija Esports vs Bonkers,Bind,Bonkers,"brimstone,chamber,neon,skye,sova"
...,...,...,...,...,...,...,...
17712,Valorant Conquerors Championship,Wildcard Qualifier,Upper Bracket Semifinals,Global Esports vs M1syl and friends,Breeze,M1syl and friends,"chamber,jett,skye,sova,viper"
17713,Valorant Conquerors Championship,Wildcard Qualifier,Upper Bracket Semifinals,Maruti Peek vs God Particles,Ascent,God Particles,"astra,jett,killjoy,raze,sova"
17714,Valorant Conquerors Championship,Wildcard Qualifier,Upper Bracket Semifinals,Maruti Peek vs God Particles,Ascent,Maruti Peek,"astra,jett,kayo,killjoy,sova"
17715,Valorant Conquerors Championship,Wildcard Qualifier,Upper Bracket Semifinals,Maruti Peek vs God Particles,Breeze,God Particles,"cypher,jett,skye,sova,viper"
17716,Valorant Conquerors Championship,Wildcard Qualifier,Upper Bracket Semifinals,Maruti Peek vs God Particles,Breeze,Maruti Peek,"chamber,jett,reyna,sova,viper"

In [15]:
vct_2022_scores = maps_scores[["Tournament", "Stage", "Match Type", "Match Name", "Map",
                                "Team A", "Team A Score", "Team B", "Team B Score"]]
vct_2022_scores

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team B,Team B Score
0,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,Paper Rex,13,EDward Gaming,11
1,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Icebox,Paper Rex,5,EDward Gaming,13
2,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Haven,Paper Rex,13,EDward Gaming,8
3,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Haven,Leviatán,13,Team Liquid,10
4,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Ascent,Leviatán,13,Team Liquid,10
...,...,...,...,...,...,...,...,...,...
8879,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Bind,Natus Vincere,13,FunPlus Phoenix,10
8880,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Icebox,Natus Vincere,14,FunPlus Phoenix,12
8881,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Breeze,Natus Vincere,5,FunPlus Phoenix,13
8882,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Haven,Natus Vincere,7,FunPlus Phoenix,13
8883,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Split,Natus Vincere,3,FunPlus Phoenix,13

In [16]:
len(vct_2022_team_comp)

17717

In [62]:
vct_2022_games = vct_2022_scores\
    .rename(columns={"Team A": "Team"})\
    .set_index(["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team"])\
    .join(
        vct_2022_team_comp
            .set_index(["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team"])
    )\
    .rename(columns={"Agents": "Team A Agents"})\
    .reset_index()\
    .rename(columns={"Team": "Team A", "Team B": "Team"})\
    .set_index(["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team"])\
    .join(
        vct_2022_team_comp
            .set_index(["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team"])
    )\
    .rename(columns={"Agents": "Team B Agents", "Team": "Team B"})\
    .reset_index()\
    .rename(columns={"Team": "Team B"})\
    # the last .rename added, because one above rename line "Team":"Team B" part didn't change the names although it has to change.

vct_2022_games["Team A win"] = vct_2022_games["Team A Score"] > vct_2022_games["Team B Score"]
vct_2022_games["Team B win"] = vct_2022_games["Team B Score"] > vct_2022_games["Team A Score"]
# vct_2022_games
vct_2022_games["Team A comp code"] = vct_2022_games["Team A Agents"].apply(lambda x: get_comp(str(x))[0])
vct_2022_games["Team B comp code"] = vct_2022_games["Team B Agents"].apply(lambda x: get_comp(str(x))[0])

vct_2022_games

,Tournament,Stage,Match Type,Match Name,Map,Team B,Team A,Team A Score,Team B Score,Team A Agents,Team B Agents,Team A win,Team B win,Team A comp code,Team B comp code
0,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Pearl,EDward Gaming,Paper Rex,13,11,"astra,chamber,fade,raze,sage","astra,chamber,fade,kayo,viper",True,False,1112,0221
1,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Icebox,EDward Gaming,Paper Rex,5,13,"chamber,fade,jett,sage,viper","chamber,jett,sage,sova,viper",False,True,1112,1112
2,Valorant Champions 2022,Group Stage,Opening (A),Paper Rex vs EDward Gaming,Haven,EDward Gaming,Paper Rex,13,8,"astra,cypher,jett,reyna,skye","breach,chamber,fade,jett,omen",True,False,2111,1211
3,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Haven,Team Liquid,Leviatán,13,10,"breach,chamber,fade,omen,raze","breach,chamber,fade,omen,raze",True,False,1211,1211
4,Valorant Champions 2022,Group Stage,Opening (A),Leviatán vs Team Liquid,Ascent,Team Liquid,Leviatán,13,10,"astra,chamber,fade,kayo,sova","chamber,fade,kayo,omen,phoenix",True,False,0311,1211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8879,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Bind,FunPlus Phoenix,Natus Vincere,13,10,"astra,jett,kayo,sova,viper","astra,raze,skye,sova,viper",True,False,1220,1220
8880,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Icebox,FunPlus Phoenix,Natus Vincere,14,12,"jett,kayo,sage,sova,viper","chamber,jett,sage,skye,viper",True,False,1211,1112
8881,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Breeze,FunPlus Phoenix,Natus Vincere,5,13,"cypher,jett,skye,sova,viper","cypher,jett,skye,sova,viper",False,True,1211,1211
8882,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Haven,FunPlus Phoenix,Natus Vincere,7,13,"astra,cypher,jett,kayo,skye","jett,killjoy,omen,skye,sova",False,True,1211,1211
8883,Champions Tour CIS Stage 1: Challengers 1,Closed Qualifier,Grand Final,Natus Vincere vs FunPlus Phoenix,Split,FunPlus Phoenix,Natus Vincere,3,13,"astra,cypher,jett,skye,viper","astra,kayo,killjoy,raze,viper",False,True,1121,1121

In [67]:
vct_2022_games2 = vct_2022_games\
    .groupby(["Map", "Team A Agents", "Team B Agents"])\
    .agg({
        "Team A Score": ["mean"],
        "Team A win": ["sum"],
        "Team B Score": ["mean"],
        "Team B win": ["sum", "count"],
    })
# vct_2022_games2.loc["Bind"].value_counts()

In [91]:
vct_2022_games2_sorted_by_count = vct_2022_games2.sort_values(("Team B win", "count"), ascending=False).reset_index()
print(vct_2022_games2_sorted_by_count.keys())

MultiIndex([(          'Map',      ''),
            ('Team A Agents',      ''),
            ('Team B Agents',      ''),
            ( 'Team A Score',  'mean'),
            (   'Team A win',   'sum'),
            ( 'Team B Score',  'mean'),
            (   'Team B win',   'sum'),
            (   'Team B win', 'count')],
           )

array(['Icebox', 'Breeze', 'Ascent', 'Haven', 'Bind', 'Fracture', 'Split',
       'Pearl'], dtype=object)

In [95]:
maplist = vct_2022_games2_sorted_by_count[("Map","")].unique()

for map in maplist:
    display(vct_2022_games2_sorted_by_count[vct_2022_games2_sorted_by_count[("Map","")] == map].head(10))

       Map                 Team A Agents                 Team B Agents  \

0   Icebox    jett,reyna,sage,sova,viper    jett,reyna,sage,sova,viper
3   Icebox  chamber,jett,sage,sova,viper  chamber,jett,sage,sova,viper
5   Icebox    jett,reyna,sage,sova,viper  jett,killjoy,sage,sova,viper
6   Icebox  jett,killjoy,sage,sova,viper    jett,reyna,sage,sova,viper
7   Icebox  chamber,jett,sage,sova,viper    jett,reyna,sage,sova,viper
12  Icebox  jett,killjoy,sage,sova,viper  jett,killjoy,sage,sova,viper
15  Icebox    jett,reyna,sage,sova,viper  chamber,jett,sage,sova,viper
17  Icebox  jett,killjoy,sage,sova,viper  chamber,jett,sage,sova,viper
20  Icebox  chamber,jett,sage,sova,viper  jett,killjoy,sage,sova,viper
34  Icebox  chamber,kayo,sage,sova,viper  chamber,jett,sage,sova,viper

   Team A Score Team A win Team B Score Team B win
           mean        sum         mean        sum count
0     10.655844         91     9.058442         63   154
3     10.781609         45    10.436782         42    87
5     10.556962         44     9.354430         35    79
6     11.590909         49     9.000000         17    66
7     11.293103         35     9.155172         23    58
12    11.000000         27     9.377778         18    45
15    10.731707         25     9.292683         16    41
17    12.081081         29     7.810811          8    37
20    11.121212         19    10.606061         14    33
34     9.450000          7    10.550000         13    20

       Map                 Team A Agents                  Team B Agents  \

1   Breeze  chamber,jett,kayo,sova,viper   chamber,jett,kayo,sova,viper
8   Breeze  chamber,jett,skye,sova,viper   chamber,jett,kayo,sova,viper
10  Breeze  chamber,jett,kayo,sova,viper   chamber,jett,skye,sova,viper
11  Breeze   cypher,jett,skye,sova,viper    cypher,jett,skye,sova,viper
14  Breeze  chamber,jett,skye,sova,viper   chamber,jett,skye,sova,viper
18  Breeze   cypher,jett,kayo,sova,viper   chamber,jett,kayo,sova,viper
21  Breeze   cypher,jett,skye,sova,viper   chamber,jett,skye,sova,viper
23  Breeze   cypher,jett,skye,sova,viper    cypher,jett,kayo,sova,viper
31  Breeze   cypher,jett,kayo,sova,viper    cypher,jett,skye,sova,viper
33  Breeze  chamber,jett,kayo,sova,viper  chamber,jett,reyna,sova,viper

   Team A Score Team A win Team B Score Team B win
           mean        sum         mean        sum count
1     11.165414         82     9.082707         51   133
8     11.363636         33     9.672727         22    55
10    11.037736         32     9.528302         21    53
11     9.978261         26     9.260870         20    46
14    10.395349         23    10.000000         20    43
18    10.647059         17    10.352941         17    34
21    10.965517         14     9.344828         15    29
23    11.000000         14     9.961538         12    26
31     9.952381          7    11.571429         14    21
33    10.100000         12     9.850000          8    20

       Map                   Team A Agents                   Team B Agents  \

2   Ascent    astra,jett,kayo,killjoy,sova    astra,jett,kayo,killjoy,sova
4   Ascent     jett,kayo,killjoy,omen,sova     jett,kayo,killjoy,omen,sova
9   Ascent    astra,jett,killjoy,skye,sova    astra,jett,kayo,killjoy,sova
13  Ascent    astra,jett,kayo,killjoy,sova    astra,jett,killjoy,skye,sova
16  Ascent     jett,kayo,killjoy,omen,sova    astra,jett,kayo,killjoy,sova
22  Ascent    astra,jett,kayo,killjoy,sova     jett,kayo,killjoy,omen,sova
24  Ascent     jett,kayo,killjoy,omen,sova     chamber,jett,kayo,omen,sova
25  Ascent  astra,breach,jett,killjoy,sova    astra,jett,kayo,killjoy,sova
26  Ascent    astra,jett,killjoy,skye,sova    astra,jett,killjoy,skye,sova
27  Ascent    astra,jett,kayo,killjoy,sova  astra,breach,jett,killjoy,sova

   Team A Score Team A win Team B Score Team B win
           mean        sum         mean        sum count
2     10.465517         68     9.405172         48   116
4     10.518072         50     9.710843         33    83
9     10.370370         29     9.537037         25    54
13    11.090909         28     8.363636         16    44
16     9.769231         20     9.717949         19    39
22    11.074074         14    10.370370         13    27
24    10.680000         16     9.720000          9    25
25    10.916667         17     9.041667          7    24
26    12.000000         17     9.130435          6    23
27    10.636364         12     9.500000         10    22

      Map                   Team A Agents                   Team B Agents  \

19  Haven  astra,breach,jett,killjoy,sova  astra,breach,jett,killjoy,sova
29  Haven    astra,jett,killjoy,skye,sova    astra,jett,killjoy,skye,sova
40  Haven  astra,breach,jett,killjoy,sova    astra,jett,killjoy,skye,sova
42  Haven    astra,jett,killjoy,skye,sova     astra,cypher,jett,skye,sova
44  Haven    astra,jett,killjoy,skye,sova  astra,breach,jett,killjoy,sova
46  Haven  astra,breach,jett,killjoy,sova     astra,cypher,jett,skye,sova
61  Haven  astra,breach,jett,killjoy,sova    astra,jett,kayo,killjoy,sova
62  Haven  astra,breach,jett,killjoy,skye  astra,breach,jett,killjoy,sova
67  Haven     astra,cypher,jett,skye,sova    astra,jett,killjoy,skye,sova
72  Haven  astra,breach,jett,killjoy,sova  astra,breach,jett,killjoy,skye

   Team A Score Team A win Team B Score Team B win
           mean        sum         mean        sum count
19    11.030303         19     9.181818         14    33
29    11.818182         15     9.136364          7    22
40    11.666667         14     7.888889          4    18
42    10.941176         12     8.470588          5    17
44    11.411765          9    10.647059          8    17
46    11.352941         12     7.588235          5    17
61    11.214286         10     8.785714          4    14
62     8.928571          6    10.428571          8    14
67    12.428571          9     8.785714          5    14
72    11.000000          8     8.538462          5    13

      Map                      Team A Agents  \

32   Bind         astra,raze,skye,sova,viper
53   Bind         astra,jett,skye,sova,viper
63   Bind         astra,raze,skye,sova,viper
80   Bind  brimstone,chamber,raze,skye,viper
95   Bind         astra,jett,skye,sova,viper
119  Bind     brimstone,raze,sage,skye,viper
153  Bind  brimstone,chamber,raze,skye,viper
155  Bind         astra,jett,raze,sova,viper
161  Bind         astra,jett,skye,sova,viper
173  Bind         astra,raze,sage,skye,viper

                         Team B Agents Team A Score Team A win Team B Score  \
                                               mean        sum         mean
32          astra,raze,skye,sova,viper    11.809524         14     8.904762
53          astra,raze,skye,sova,viper     9.000000          6    10.066667
63          astra,jett,skye,sova,viper    11.000000          6    10.785714
80   brimstone,chamber,raze,skye,viper     9.666667          4    11.916667
95          astra,jett,skye,sova,viper    11.800000          6     8.700000
119         astra,jett,skye,sova,viper    10.571429          3    11.285714
153     brimstone,raze,sage,skye,viper    11.833333          5     7.166667
155         astra,jett,skye,sova,viper     9.333333          3    10.666667
161         astra,raze,sage,skye,viper     8.833333          3    10.333333
173         astra,jett,skye,sova,viper     9.600000          3     7.600000

    Team B win
           sum count
32           7    21
53           9    15
63           8    14
80           8    12
95           4    10
119          4     7
153          1     6
155          3     6
161          3     6
173          2     5

          Map                       Team A Agents  \

48   Fracture  breach,brimstone,chamber,raze,sage
51   Fracture  breach,brimstone,chamber,kayo,neon
68   Fracture     astra,breach,chamber,raze,viper
69   Fracture  breach,brimstone,chamber,raze,sage
105  Fracture  breach,brimstone,chamber,kayo,neon
145  Fracture  breach,brimstone,chamber,raze,sage
152  Fracture      astra,breach,cypher,raze,viper
168  Fracture   breach,brimstone,cypher,raze,sage
174  Fracture  breach,brimstone,chamber,neon,raze
176  Fracture  breach,brimstone,chamber,jett,raze

                          Team B Agents Team A Score Team A win Team B Score  \
                                                mean        sum         mean
48   breach,brimstone,chamber,raze,sage    11.823529         13     8.941176
51   breach,brimstone,chamber,kayo,neon    10.625000          7    11.625000
68      astra,breach,chamber,raze,viper    11.714286         11     7.428571
69   breach,brimstone,chamber,kayo,neon    11.538462          8     8.923077
105  breach,brimstone,chamber,raze,sage    10.444444          6     9.222222
145  breach,brimstone,chamber,neon,sage    11.833333          3    11.166667
152      astra,breach,cypher,jett,viper     9.666667          3     9.500000
168  breach,brimstone,chamber,raze,sage    10.333333          3    11.000000
174  breach,brimstone,chamber,kayo,neon    12.400000          4     6.400000
176  breach,brimstone,chamber,kayo,neon    12.800000          3     8.600000

    Team B win
           sum count
48           4    17
51           9    16
68           3    14
69           5    13
105          3     9
145          3     6
152          3     6
168          3     6
174          1     5
176          2     5

       Map                   Team A Agents                    Team B Agents  \

225  Split      cypher,jett,omen,raze,sage       cypher,jett,omen,raze,sage
252  Split  astra,breach,chamber,kayo,neon   astra,breach,chamber,kayo,neon
266  Split   astra,chamber,raze,skye,viper    astra,chamber,raze,skye,viper
281  Split  astra,breach,chamber,raze,sage  astra,breach,chamber,raze,viper
326  Split      cypher,omen,raze,sage,skye   astra,breach,chamber,kayo,raze
327  Split   astra,breach,cypher,raze,sage    astra,breach,cypher,raze,sage
352  Split  astra,breach,chamber,kayo,neon       cypher,jett,omen,raze,sage
390  Split     astra,cypher,raze,sage,skye    astra,chamber,raze,skye,viper
404  Split      astra,jett,raze,skye,viper    astra,breach,cypher,jett,raze
413  Split   astra,jett,killjoy,skye,viper       astra,raze,sage,skye,viper

    Team A Score Team A win Team B Score Team B win
            mean        sum         mean        sum count
225     9.500000          2    11.250000          2     4
252    11.000000          3     7.000000          1     4
266    13.000000          3     8.000000          1     4
281     9.500000          0    13.000000          4     4
326     9.333333          1    12.000000          2     3
327    13.000000          3     5.333333          0     3
352    12.000000          2    10.000000          1     3
390    12.666667          2     9.666667          1     3
404    12.333333          2     9.000000          1     3
413    13.333333          3     8.333333          0     3

        Map                  Team A Agents                     Team B Agents  \

2210  Pearl   astra,chamber,fade,kayo,neon      astra,chamber,fade,neon,skye
2211  Pearl   astra,chamber,fade,kayo,neon      astra,chamber,kayo,sage,skye
2212  Pearl  astra,chamber,fade,kayo,viper      astra,chamber,fade,kayo,neon
2213  Pearl  astra,chamber,fade,kayo,viper     astra,chamber,fade,kayo,viper
2214  Pearl   astra,chamber,fade,neon,skye        astra,fade,raze,sage,viper
2215  Pearl   astra,chamber,fade,raze,sage     astra,chamber,fade,kayo,viper
2216  Pearl   astra,chamber,fade,raze,sage  astra,chamber,fade,phoenix,viper
2217  Pearl   chamber,fade,neon,omen,viper      chamber,omen,raze,skye,viper
2218  Pearl    cypher,fade,omen,raze,viper      astra,chamber,fade,kayo,neon

     Team A Score Team A win Team B Score Team B win
             mean        sum         mean        sum count
2210         13.0          1          8.0          0     1
2211         13.0          1         11.0          0     1
2212         13.0          1          8.0          0     1
2213         13.0          1          3.0          0     1
2214         10.0          0         13.0          1     1
2215         13.0          1         11.0          0     1
2216         13.0          1          4.0          0     1
2217         11.0          0         13.0          1     1
2218          7.0          0         13.0          1     1

In [69]:
vct_2022_games3 = vct_2022_games\
    .groupby(["Map", "Team A comp code", "Team B comp code"])\
    .agg({
        "Team A Score": ["mean"],
        "Team A win": ["sum"],
        "Team B Score": ["mean"],
        "Team B win": ["sum", "count"],
    })

vct_2022_games3.sort_values(("Team B win", "count"), ascending=False).head(10)

                                         Team A Score Team A win Team B Score  \
                                                 mean        sum         mean
Map    Team A comp code Team B comp code
Haven  1211             1211                10.988955        715     9.333900
Ascent 1211             1211                10.725528        614     9.496161
Breeze 1211             1211                10.742900        372     9.726457
Icebox 1112             1112                11.035857        150     9.669323
       2111             2111                10.755020        147     9.200803
                        1112                10.413793        116     9.369458
       1112             2111                11.502591        128     9.025907
Ascent 1211             2111                10.717241         88     8.724138
       2111             1211                10.867647         81     9.176471
Haven  2111             1211                10.519084         72     9.534351

                                         Team B win
                                                sum count
Map    Team A comp code Team B comp code
Haven  1211             1211                    462  1177
Ascent 1211             1211                    428  1042
Breeze 1211             1211                    297   669
Icebox 1112             1112                    101   251
       2111             2111                    102   249
                        1112                     87   203
       1112             2111                     65   193
Ascent 1211             2111                     57   145
       2111             1211                     55   136
Haven  2111             1211                     59   131